.deviceModeWrap{
    display: flex;
    flex-basis: 100%;
    margin: 0.5rem 0rem;
    padding: 0.25rem;
    align-items: center;
    
    &.active{
        background-image: linear-gradient(-135deg, #AD6BFF 0%, #74BCF7 100%);
        box-shadow: 0 20px 20px 0 rgba(0,0,0,0.15); 
        color: #fff;
    }
    .deviceModeLeftWrap, .deviceModeRightWrap{
        display: flex;
        flex-basis: 50%;
        .deviceModeText, .deviceModeIcon, .deviceModeLevel{
            margin: 0.5rem;
            align-self: center;
        }
        .tickIcon{
            width:1.5rem;
            height:1.5rem;
            align-self: center;
            margin-right: 1rem;
        }
    }
    .deviceModeRightWrap{
        justify-content: space-between;
    }
}