.selectShadeClass{
  height:1.5rem;
  width: 1.5rem;
  display: none;
  &.active{
    display: block;
  }
}
.selectShadeWrap{
  display: flex;
  height:2rem;
  width: 2rem;
  box-shadow: 0 10px 10px 0 rgba(0,0,0,0.15);

  &.active{
    height:3rem;
    width: 3rem;
  }
  .deviceShadeImgWrap{
    display: flex;
    flex-basis: 100%;
    align-self: center;
    justify-content: center;
  }
}

