@font-face {
    font-family: Montserrat-Bold;
    src: url('../../fonts/Montserrat/Montserrat-Bold.ttf');
  }

#hdrWithIconWrap0 h2{
    font-family: Montserrat-Bold;
    font-size: 48px;
    color: #000000;
    letter-spacing: 8.4px;
    text-transform: uppercase;
}

#hdrWithIconWrap1 h2{
    font-family: Montserrat-Bold;
    font-size: 32px;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 5.12px;
    text-shadow: 0 20px 25px rgba(0,0,0,0.15);
}
.toggleIcon{
    width: 14px;
    height: 14px;
    background: #FFFFFF;
    box-shadow: 0 12px 18px 0 rgba(0,0,0,0.10);
    border-radius: 60px;
    margin-right: 5px;
}
.toggleWrap {
    background: #000000;
    box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.15);
    border-radius: 60px;
    height: 24px;
    width: 42px;
    align-items: center;
    justify-content: flex-end;
    display: flex;
    &.active{
        justify-content: flex-start;

        img{
            margin-left: 5px;
        }
    }
  }
 
.plusIconWrap{
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    height: 100%;
    background-image: linear-gradient(-135deg, #DEFFC9 0%, #A3F8FF 100%);
    align-items: center;
    height:3rem;
    width: 3rem;

    img{
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 478px)
{
    #hdrWithIconWrap0{

        .deviceHeading{
            flex-basis: 100%;
            display: flex;
            position: absolute;
            left: 4rem;
            top: 4rem;
        }
    
        .iconContainer{
            flex-basis: 100%;
            display: flex;
            position: absolute;
            right: 1rem;
            top: 1rem;
        }
    }
    #hdrWithIconWrap1{
        text-align: left;
        margin: 3rem 0.5rem;
    }

}