@font-face {
  font-family: Montserrat-Regular;
  src: url('../../fonts/Montserrat/Montserrat-Regular.ttf');
}
@font-face {
  font-family: Montserrat-Bold;
  src: url('../../fonts/Montserrat/Montserrat-Bold.ttf');
}
.deviceCardWrapper {
  display: flex;
  position: relative;
  //margin: 50px 40px;
  margin: 0 0 30px 0;
  height: 130px;
  width: 303px;
  flex-direction: row-reverse;
  box-sizing: border-box;

  &.active {
    .deviceImgContainer {
      right: -30px;
      left: auto;
      top: -30px;
    }
    .deviceTextContainer {
      width: 100%;
      align-items: center;
      margin-right: 5rem;
    }

    .deviceTextContainer {
      width: 233px;
      height: 140px;
    }
  }

    .deviceTextContainer {
      display: flex;
      align-self: flex-end;
      flex-direction: column;
      align-self: flex-end;
      justify-content: center;
      width: 203px;
      height: 120px;
      background: #fefffe;
      box-shadow: 0 21px 21px 0 rgba(0, 0, 0, 0.15);

      .deviceNameText{
        font-family: Montserrat-Bold;
        font-size: 16px;
        color: #000000;
        letter-spacing: 2px;
      }
      .deviceLocationText{
        font-family: Montserrat-Regular;
        font-size: 15px;
        color: #000000;
        letter-spacing: 0.47px;
        line-height: 19px;

        @media(max-width: 1024px) {
          display: none;
        }
      }
    }

    .deviceImgContainer {
      display: flex;
      height: 120px;
      width: 120px;
      position: absolute;
      left: 0;
      background: lightblue;

      img{
        width: 100%;
        height: 100%;
      }
    }
 }

@media (max-width: 768px) {
  .container{
    section.deviceCardWrapper{
      height: 152px;
      width: 130px;

      .deviceTextContainer,.deviceImgContainer {
        width: 120px;
        height: 120px;
        right: -40px;
        top: 0;
      }
    }
  }
  
}
@media (max-width: 480px) {
  .sidePanel{

    section.deviceCardWrapper{
        height: 132px;
        width: 110px;

        .deviceTextContainer,.deviceImgContainer {
          width: 100px;
          height: 100px;
          right: -20px;
          top: 0;
          
          .deviceNameText, .deviceLocationText{
            font-size: 10px;
          }
        }
    }
  }
  
}