.App {
  font-family: sans-serif;
  text-align: center;
}
body{
  margin:0;
}
h2 {
  margin: 0;
  padding: 0;
}

.container {
  flex: 0 0 100%;
  display: flex;
  .deviceContainer {
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    max-height: 100vh;
    overflow: auto;
  }
  section.deviceContainer::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    display: none;
  }  
  .deviceCardWrapper {
      display: flex;
      position: relative;
      margin: 0 0 50px 0;
      height: 130px;
      width: 100%;
      flex-direction: row-reverse;
      box-sizing: border-box;
  }
}

.sidePanel {
  display: flex;
  flex: 0 0 410px;
  padding: 120px 70px 100px 40px;
  box-shadow: -50px 0 0 0 #fff inset;
  background-image: linear-gradient(
    -180deg,
    rgba(173, 107, 255, 0) 0%,
    rgba(149, 140, 252, 0.3) 25%,
    #9291fb 38%,
    rgba(141, 152, 251, 0.85) 84%,
    rgba(116, 188, 247, 0) 100%
  );
  flex-wrap: wrap;
  max-height: 100vh;
  overflow: scroll;
  overflow-x: hidden;

  @media(max-width: 767px) {
    flex: 0 0 240px;
  }
  @media(max-width: 480px) {
    flex: 0 0 180px;
  }
}
section.sidePanel::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  display: none;
}
.selectDeviceCard {
  flex-direction: row;
}

/*Icon With text code*/

.hdrWithIconWrap {
  display: flex;
  margin: 3rem 0;
  flex-basis: 100%;
  justify-content: space-between;
}
.addDeviceIconWrap {
  background-image: linear-gradient(-135deg, #deffc9 0%, #a3f8ff 100%);
  box-shadow: 0 15px 30px 0 rgba(234, 252, 223, 0.4);
  height: 56px;
  width: 56px;
}



/*Icon With text code ends*/

@media (max-width: 768px) {
  .sidePanel{
    justify-content: center;
      .deviceTextContainer{
        flex-direction: column-reverse;
        align-items: center;
        .deviceNameText{
          display: flex;
          flex-basis: 100%;
          align-items: flex-end;
          margin-bottom: 5px;
        }
      }
      .deviceCardWrapper.active{
      
        .deviceTextContainer{
          display: none;
        }
        .deviceImgContainer {
          width: 140px;
          height: 140px;
        }
      }
    }
  }

@media (max-width: 478px)
{
   .container{
        flex-direction: row;
        .deviceContainer {
          padding: 0.25rem;
          margin: 0.25rem;
        }
        .deviceImgContainer{
            display: flex;
            padding: 0.25rem;
            margin: 0.25rem;
        }
        .sidePanel {
           display:flex;
           flex-direction: row;
           padding: 70px 26px;
           box-shadow: -32px 0 0 0 #fff inset;
     
           .deviceCardWrapper.active{
     
             .deviceImgContainer {
               width: 100px;
               height: 100px;
             }
           }
         } 
    }
}