@font-face {
  font-family: Montserrat-Bold;
  src: url('../../fonts/Montserrat/Montserrat-Bold.ttf');
}

.deviceSettingName {
  display: flex;
  flex-basis: 100%;
}
.deviceSettings {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  margin: 2rem 0;
}
.settingName{
  font-family: Montserrat-Bold;
  font-size: 15px;
  color: #AC6CFF;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.deviceSettingSection {
  display: flex;
  flex-direction: column;
}
.sideLine {
  border-top: 1px solid #ac6cff;
  color: #ac6cff;
  height: 1px;
  width: 100%;
  display: flex;
  align-self: center;
  margin: 0 1rem;
}

.row{
  flex-direction: row;
  align-items: center;
}
.column{
  flex-direction: column;
}